@import '../../components/styling/variable.scss';

// Cover section
.cover {
    position: relative;
    text-align: center;
    height: 100vh;
    background-color: $primary_tosca;
    background-image: url('../../assets/character_1.svg');
    background-repeat: no-repeat;
    background-size: 37%;
    background-attachment: fixed;
    background-position: center bottom; 
}


.title {
    color: $primary_purple;

    font {
        color: $secondary_purple;
    }

    p {
        color: $secondary_purple;
    }
}

.title h1 {
    position: relative;
    margin: auto;
    font-size: 40px;
    font-weight: bold;
    width: 45%;
    top: 15vh;
}

.title p {
    position: relative;
    margin: auto;
    top: 18vh;

}

// About Section

.about {
    position: relative;
    text-align: center;
    height: 100vh;
    background-color: $semi_white_bg;

    &:before {
        content: url("../../assets/shape_1.svg");
        position: absolute;
        top: 0;
        right: 0;
    }

    h1 {
        margin: 0;
    }
}