@import '../../components/styling/variable.scss';

// Cover section
.cover {
    position: relative;
    text-align: center;
    height: 100vh;
    background-color: $primary_tosca;
    background-image: url('../../assets/character_1.svg');
    background-repeat: no-repeat;
    background-size: 37%;
    background-attachment: fixed;
    background-position: center bottom; 
}


.title {
    color: $primary_purple;

    font {
        color: $secondary_purple;
    }

    p {
        color: $secondary_purple;
    }
}

.title h1 {
    position: relative;
    margin: auto;
    font-size: 3rem;
    font-weight: bold;
    width: 45%;
    top: 15vh;
}

.title p {
    position: relative;
    margin: auto;
    top: 18vh;
    font-size: 1.2rem;
}

// About Section

.about {
    position: relative;
    height: 100vh;
    background-color: $semi_white_bg;

    &:before {
        content: url("../../assets/shape_1.svg");
        position: absolute;
        top: 0;
        right: 0;
    }
}

.about-title {
    padding: 3rem 3rem 0 3rem;
    h1 {
        color: $primary_purple;
        font-size: 3rem;
        margin: 0;
    }

    p {
        font-size: 1.2rem;
    }

    font {
        color: $secondary_purple;
    }
}

.about-container {
    display: grid;
    grid-gap: 20px;
    margin: 0 auto;
    max-width: 80vw;
    grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
}

.about-box {
    text-align: center;
    margin-top: 10vh;

    .card {
        margin: 10%;
        height: 10vh;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        padding: 20px;
        box-shadow: 0px 8px 15px #00000029;
        transition: 0.3s;
        border-radius: 5px;
    }
}