@import './variable.scss';

.header {
    background: #68E89F;
}

.header-section {
    margin: 0 auto;
    max-width: 90vw;
    width: 100%;    
    padding: 1.45rem;
    display: flex;

    a img {
        display: block;
        width: 85px;
        height: auto;
        margin-bottom: 0;
    }
}

.main-nav {
    display: flex;
    list-style: none;
    font-size: 1em;
    font-weight: 800;
    margin: 0 0 0 2em;
    padding: 10px;
    a {
        color: $primary_purple;
        text-decoration: none;
        margin-right: 2.5em;
        display: block;

        span {
            vertical-align: middle;
        }
    }
}

.float-right {
    margin-left: auto;  
}